<!-- Loads at route : "/FoodPreferenceForm"
Loads when Register button is clicked on Registration Page

Form with fields: Favourite cuisines (Dropdown, Multiple selection allowed),
                  Food Spiciness (Dropdown), Allergies (Dropdown with ingredients
                  in dataabse along with "None" and "Other" option), Location (Dropdown with Indian states)
Buttons : DONE, SKIP

On click SKIP button: Redirects to route "/Logging" or function Logging()
On click DONE button: Redirects to route "/Food_Prefernce_Data" or function Food_Prefernce_Data()
                      Submit form data
-->
