<!-- Loads at route : "/Home"
Loads when Login button is clicked on Login Page and login is successful

For now:
1. ProductList table: Only list of products with "Add to cart" button for each product
[parameters: ProductList, Cart_Products] : Cart_Products to decide enable/disable "Add to Cart" button
2. Search Bar : Text to search, Search Button
3. Other Buttons : Go to Cart

On click "Add to cart" button : Call function AddToCart() [Parameters: ProductID]
On click "Search" button: Call function SearchProduct() [Parameters: Search text]
On click "Go to Cart" button: Redirects to route "/ViewCart" or function ViewCart()

-->
